// Переменные

$color-text-white: #FFFFFF;
$color-text-white-20: rgba(#fff, .20);
$color-text-white-65: rgba(#fff, .65);
$color-text-orange: #FF5900;

$border-color-footer: rgba(255, 255, 255, 0.03);

$background-btn: #FF5900;
$background-main: #05050A;
$background-black: #0C0C18;
$background-slider-btn: #0C0C18;
$background-item: #16162c;

// hover

$background-faq-hover: #16162c;
$background-slider-btn-hover: #1f1f36;




$color-text: #0C0C0C;
$color-blue: #2288EE;
$color-text-opacity-60: color(srgb 0.05 0.05 0.05 / 0.60);
$color-link: #0C0C0C;
$color-white: #FCFCFC;
$color-white-opacity-60: rgb(252 252 252 / 60%);
$color-btn: #FCFCFC;
$color-btn-blue: #2288EE;