// vars

$color-text-white: #FFFFFF;
$color-text-gray: #9caac4;
$color-text-white-03: rgba(#fff, .03);
$color-text-white-06: rgba(#fff, .06);
$color-text-white-20: rgba(#fff, .20);
$color-text-white-65: rgba(#fff, .65);
$color-text-white-80: rgba(#fff, .80);
$color-text-orange: #FF5900;

$border-color-footer: rgba(255, 255, 255, 0.03);


$background-btn: #FF5900;
$background-btn-reg: #fc6200;
$background-main: #05050A;
$background-black: #0C0C18;
$background-slider-btn: #0C0C18;
$background-item: #16162c;

// hover

$background-faq-hover: #16162c;
$background-slider-btn-hover: #1f1f36;
$background-hover-nav: #ffffff08;
$background-btn-hover: #cb4f00;


// Stars

$star-green: #0B3B2F;
$star-brown: #492B13;
$star-darkgreen: #254818;
$star-blue: #132F49;
